body{
    background-color: #fffdf5
}

header{
    padding: 20px;
}

.links{
    display: inline;
    margin-left: 450px;
}

.links a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.links a:hover{
    color: #fa37dd;
    border-top: 2px solid #fa37dd ;
    border-bottom: 2px solid #fa37dd ;
}

.link-a-1{
    background-color: #fa37dd ;
    border: #fa37dd solid 2px;
    color: white;
    font-weight: bold;
}

.link-a-2{
    background-color: transparent ;
    border: #fa37dd solid 2px;
    color: #fa37dd;
    font-weight: bold;
}

.span-1 , .span-2{
    font-weight: bold;
    font-size: x-large;
}

.span-1{
    color: #a80585;
}

.span-2{
    color: #fa37dd;
}

.secao-1{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-2{
    width: 500px;
    margin-top: 50px;
}

.secao-1 h1{
    font-weight: bold;
}

.secao-1 h4{
    color: #fa37dd;
}

.img{
    width: 400px;
    margin: 0% auto;

}

.img img{
    width: 150%;
    border-radius: 100%;
}